[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "1.0.0"
flask = "*"
datetime = "*"
pytest = "*"
pymongo = "*"

[dev-packages]
pytest = "*"
mongomock = "*"

[requires]
python_version = "3"