<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Showcase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <header>
        <h1>Collection Showcase</h1>
        <nav >
            <a href>
              <button class="bt">View My Collections </button>
            </a>
            <br/>
            <a href>
              <button class="bt">Log Out</button>
            </a>
          </nav>
        <p>Welcome to our amazing collection!</p>
    </header>

    <section class="hero">
        <h2>Explore the Beauty</h2>
        <p>Discover unique items in our public collection exhibition.</p>
    </section>

    <section class="collection">
        <h2>Featured Items</h2>

        {% for doc in docs %}

        <div class="item">
            <img src="item1.jpg" alt="Item 1">
            <h3>{{doc.name}}</h3>
            <p>{{doc.desc}}</p>
        </div>

        {%endfor%}

        <!-- Add more items as needed -->

    </section>

    <footer>
        <p>© 2023 Collection Showcase. All rights reserved.</p>
        <p>Source code available at
            <a
              href="https://github.com/software-students-fall2023/5-final-project-ary.git"
              >Github.
            </a>
        </p>
    </footer>

</body>
</html>