<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h1>Update Item
        <a href="{{url_for('my_collections', user_id = user_id)}}">
            <button class="bt">Back</button>
        </a>
    </h1>

    <form action="{{ url_for('update', user_id=user_id, item_id=item._id) }}" method="post" enctype="multipart/form-data">
        <label for="image">Current Image</label>
        <br>
        <img src="{{ url_for('get_image', file_id=item.file_id) }}" alt="{{ item.name }}" style="max-width: 200px;">
        <br><br>
        <label for="new_image">Upload New Image (optional)</label>
        <input type="file" name="file" accept=".png, .jpg, .jpeg, .gif">
        <br><br>

        <label for="name">Name of the item</label>
        <input id="name" class="btn2" name="name" value="{{ item.name }}" required>
        <br><br>

        <label for="description">Description</label>
        <textarea id="description" class="btn2" name="description" style="width: 400px; height: 50px;" required>{{ item.desc }}</textarea>
        <br><br>

	<input type="submit" value="Update">
        {% for mesg in get_flashed_messages() %}
            <p>{{ mesg }}</p>
        {% endfor %}
    </form>

    <footer>
        <p>© 2023 Collection Showcase. All rights reserved.</p>
        <p>Source code available at
            <a
              href="https://github.com/software-students-fall2023/5-final-project-ary.git"
              >Github.
            </a>
        </p>
    </footer>

</body>
</html>
